@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao meu Crud com MVC!</h1>
    <p>Este é um CRUD basíco feito com ASP.NET CORE MVC para estudo!.</p>
</div>
